

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FFA Login</title>
    <link rel="stylesheet" href="login.css">
</head>
<body>
    <form class="form-1" action="/signup" method="post">
        <h1 class="h1">Login</h1>
        <div class="form-group">
          <input type="email" class="email" id="email" name="email" placeholder="Email" required>
        </div>
        <br>
        <div class="form-group">
          <input type="password" class="pass1" name="pass1" id="pass1" placeholder="Password" required>
        </div>
        <br>
        <button type="submit" class="submit">Log In</button>
         <p class="qus">New User?</p>
          
            <a href="signup.html" onclick="signup()" class="link">Signup</a>
      </form>
    <script src="signup.js" ></script>
</body>
</html>